html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
}

.main-container {
  max-width: 550px;
  max-height: 550px;
}

h1 {
  font-size: 4rem;
}

/* Start */

.start {
  background-image: url("./images/main-bg.png");
  background-repeat: no-repeat;
  background-size: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-title {
  font-weight: 700;
  color: #293264;
  margin: 0;
}

.start-button {
  margin-top: 2rem;
  border: none;
  background: #4d5b9e;
  border-radius: 15px;
  color: #fff;
  padding: 1.2rem 4rem;
  cursor: pointer;
}

.start-button:active {
  box-shadow: inset 0 0 10px #000;
}

/* Quiz */

.quiz {
  background-image: url("./images/questions-bg.png");
  background-repeat: no-repeat;
  background-size: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
