html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  color: #293264;
}

h1 {
  font-size: 4rem;
}

hr {
  border: 0.794239px solid #dbdef0;
}

/* Start */

.start {
  background-image: url("./images/main-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-title {
  font-weight: 700;
  margin: 0;
}

.start-button {
  margin-top: 2rem;
  border: none;
  background: #4d5b9e;
  border-radius: 15px;
  color: #fff;
  padding: 1.2rem 4rem;
  cursor: pointer;
}

.start-button:active {
  box-shadow: inset 0 0 10px #000;
}

/* Quiz */

.quiz {
  background-image: url("./images/questions-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  padding: 4rem 7.5rem;
  align-items: center;
  gap: 2rem;
}

.question {
  font-weight: 700;
  line-height: 1.9rem;
}

.options {
  display: flex;
  font-size: 1.2rem;
  gap: 1.2rem;
}

.option {
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  padding: 0.4rem 1rem;
  min-width: 66px;
  text-align: center;
  cursor: pointer;
}

.selected,
.correct,
.wrong {
  border: none;
}

.selected {
  background: #d6dbf5;
}

.correct {
  background: #94d7a2;
  opacity: 1;
}

.wrong {
  background: #f8bcbc;
  opacity: 0.5;
}

.not-selected {
  opacity: 0.5;
}

.check-button {
  color: #fff;
  border: none;
  background: #4d5b9e;
  border-radius: 10px;
  width: 120px;
  padding: 1rem;
  cursor: pointer;
}
